@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Golos Text', sans-serif;
    color: #393E41;
}

body {
    display: flex;
    flex-direction: column;
    background: #FFFCF2;
}

wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    height: 43.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.words-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
    border: 3px solid #393E41;
    border-radius: 5px;
    background: #F6F7EB;
}

.words {
    padding: 1em;
}

.word {
    font-size: 2rem;
    padding: 0.2em;
    border-radius: 2px;
}

.word-highlight {
    font-size: 2.5rem;
    padding: 0.2em;
    border: 2px solid red;
}

input {
    padding: 0.2em;
    font-size: 1.5rem;
    width: 15em;
    margin: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border: 3px solid #393E41;
    border-radius: 5px;
    background: #F6F7EB;
}

input:focus {
    outline: none;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.timer {
    font-size: 1.5em;
}

.results {
    margin: 1em;
    font-size: 1.7rem;
    display: flex;
    gap: 1em;
}

h3 {
    margin: 1em;
}

footer {
    width: 100%;
    height: 3em;
    background: black;
    position: fixed;
}
