@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@700&display=swap');

:root {
    --bg: #1e2122;
    --fg: #4e5457;
    --white: #e2d9c1;
    --red: #cc241d;
    --green: #98971a;
    --highlight: #191b1c;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu Mono', monospace;
    color: var(--white);
}

body {
    display: flex;
    flex-direction: column;
    background: var(--bg);
    height: 100vh;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.words-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1em;
    border: 3px solid var(--fg);
    border-radius: 5px;
    background: var(--bg);
}

.first-row {
    padding: 1em;
}

.second-row {
    padding: 1em;
    padding-top: 0;
}

.word {
    color: var(--white);
    font-size: 2rem;
    padding: 0.2em;
    border-radius: 2px;
}

input {
    padding: 0.2em;
    font-size: 1.5rem;
    width: 10em;
    margin: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border: 3px solid var(--fg);
    border-radius: 5px;
    background: var(--bg);
}

input:focus {
    outline: none;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.timer-container {
    border: 3px solid var(--fg);
    border-radius: 5px;
    background: var(--bg);
    min-width: 60px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.timer {
    user-select: none;
    color: var(--white);
}

.results {
    margin: 1em;
    font-size: 3rem;
}

h3 {
    margin: 1em;
    user-select: none;
}

.help {
    width: 600px;
    font-size: 30px;
    text-align: justify;
    text-justify: inter-word;
}

.hint {
    text-align: center;
}

@media (max-width: 420px) {
    .words-container {
        padding-inline: 0em;
    }
    .first-row {
        display: flex;
        flex-direction: column;
    }
    .second-row {
        display: none;
    }
    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
