@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

:root {
    --bg: #1e2122;
    --fg: #4e5457;
    --white: #e2d9c1;
    --red: #cc241d;
    --green: #98971a;
    --highlight: #1d1a16;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    color: var(--white);
}


body {
    display: flex;
    flex-direction: column;
    background: var(--bg);
    height: 100vh;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-size: 3em;
    margin-bottom: 0.5em;
}

p {
    display: flex;
    justify-content: space-between;
    width: 685px;
    font-size: 2.4em;
    text-align: justify;
    text-justify: inter-word;
}
